<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mapper.Area.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.cn.pojo.Area" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="FLOAT" />
    <result column="LATITUDE" property="latitude" jdbcType="FLOAT" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID,PARENT_ID,NAME,SHORT_NAME,LONGITUDE,LATITUDE,LEVEL,SORT,STATUS
  </sql>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select * from area
  </select>
  <select id="selectByLevel" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from area where LEVEL = #{LEVEL ,jdbcType=INTEGER}
  </select>

</mapper>